mhedit/Service References/MHEditServiceReference/MHEdit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MHEdit.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MHEdit.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mhp.askey.org/MHEdit.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MHEdit.Web.Containers" />
  <xs:complexType name="ClientResponseOfSecurityToken6aJH8QNC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ClientResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MHEdit.Web.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SecurityToken" Namespace="http://schemas.datacontract.org/2004/07/MHEdit.Web.Containers" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MHEdit.Web.Containers" minOccurs="0" name="Payload" nillable="true" type="q1:SecurityToken" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientResponseOfSecurityToken6aJH8QNC" nillable="true" type="tns:ClientResponseOfSecurityToken6aJH8QNC" />
  <xs:complexType name="ClientResponseOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ClientResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MHEdit.Web.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Payload" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientResponseOfboolean" nillable="true" type="tns:ClientResponseOfboolean" />
  <xs:complexType name="ClientResponseOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ClientResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MHEdit.Web.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Payload" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientResponseOfstring" nillable="true" type="tns:ClientResponseOfstring" />
</xs:schema>