mhedit/Service References/MHEditServiceReference/MHEdit3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MHEdit.Web.Containers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MHEdit.Web.Containers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52484/MHEdit.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SecurityToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="EncryptedPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncryptionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityToken" nillable="true" type="tns:SecurityToken" />
  <xs:complexType name="ArrayOfMazeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MazeItem" nillable="true" type="tns:MazeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMazeItem" nillable="true" type="tns:ArrayOfMazeItem" />
  <xs:complexType name="MazeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageRating" type="xs:decimal" />
      <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MazeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MazeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MazeTypeLetter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserRating" type="xs:decimal" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MazeItem" nillable="true" type="tns:MazeItem" />
</xs:schema>