mhedit/Service References/MHEditServiceReference/MHEdit4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/mhedit.Containers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/mhedit.Containers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExceptionSummary">
    <xs:sequence>
      <xs:element name="_x003C_InnerException_x003E_k__BackingField" nillable="true" type="tns:ExceptionSummary" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProgramVersion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RomVersion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Source_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StackTrace_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Username_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionSummary" nillable="true" type="tns:ExceptionSummary" />
</xs:schema>