mhedit/Service References/ServiceReferenceMhedit/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LogException">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exceptionMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="exceptionSource" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="exceptionStackTrace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>