GameEditor.Core/Xsd/GameProfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://askey.org/GameProfile"
           elementFormDefault="qualified"
           xmlns="http://askey.org/GameProfile"
           xmlns:gpns="http://askey.org/GameProfile"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:element name="PageRef">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="HexAddress">
                    <xs:attribute name="Id"
                                  type="xs:string"
                                  use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="StorageDefinition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Array"
                            minOccurs="0"
                            maxOccurs="unbounded"/>
                <xs:element ref="Array2d"
                            minOccurs="0"
                            maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="Id"
                          type="xs:string"
                          use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="StorageDefinitionRef">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Delimiter"
                            type="xs:hexBinary"
                            minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="Id"
                          type="xs:string"
                          use="required"/>
            <xs:attribute name="Order"
                          type="xs:int"
                          default="0"
                          use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Array">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This is a one dimensional Array.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PageRef"
                            minOccurs="1" />
            </xs:sequence>
            <xs:attribute name="Id"
                          type="xs:ID"
                          use="optional"/>
            <xs:attribute name="Type"
                          type="ArrayType"
                          use="required"/>
            <xs:attribute name="Storage"
                          type="ArrayStorage"
                          default="value"
                          use="optional"/>
            <xs:attribute name="Size"
                          type="xs:int"
                          default="1"
                          use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Array2d">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This is a 2 dimensional Array as described here https://stackoverflow.com/a/12567378.
                I.e. array[x,y]
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PageRef"
                            minOccurs="1" />
            </xs:sequence>
            <xs:attribute name="Id"
                          type="xs:ID"
                          use="optional"/>
            <xs:attribute name="Type"
                          type="ArrayType"
                          use="required"/>
            <xs:attribute name="Storage"
                          type="ArrayStorage"
                          default="value"
                          use="optional"/>
            <xs:attribute name="Size"
                          type="xs:int"
                          default="1"
                          use="optional"/>
            <xs:attribute name="Size2"
                          type="xs:int"
                          default="1"
                          use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="FeatureGroupRef">
        <xs:complexType>
            <xs:attribute name="Id"
                          type="xs:string"
                          use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="FeatureRef">
        <xs:complexType>
            <xs:attribute name="Id"
                          type="xs:string"
                          use="required"/>
            <xs:attribute name="Maximum"
                          type="MaximumType"
                          default="-1"
                          use="optional"/>
            <xs:attribute name="Minimum"
                          type="MinimumType"
                          default="0"
                          use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GameProfile">
        <xs:annotation>
            <xs:documentation>
                Describes the layout of a game's memory and programmatic objects
                so that an editor framework can be used to create a customized game.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GameInfo">
                    <xs:annotation>
                        <xs:documentation>Basic Game information.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name"
                                        type="xs:string" />
                            <xs:element name="Version"
                                        type="VersionString" />
                            <xs:element name="Manufacturer"
                                        type="xs:string"
                                        minOccurs="0" />
                            <xs:element name="ReleaseDate"
                                        type="xs:gYearMonth"
                                        minOccurs="0" />
                            <xs:element name="Comment"
                                        type="xs:string"
                                        minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MemoryMap">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ROM"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Banks">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Bank"
                                                                maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="EPROM"
                                                                            maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="Id"
                                                                                      type="xs:string"
                                                                                      use="required"/>
                                                                        <xs:attribute name="Name"
                                                                                      type="xs:string"
                                                                                      use="required"/>
                                                                        <xs:attribute name="Size"
                                                                                      type="xs:int"
                                                                                      use="required"/>
                                                                        <xs:attribute name="Width"
                                                                                      type="xs:int"
                                                                                      use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="Id"
                                                                          type="xs:string"
                                                                          use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Pages">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Page"
                                                                maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BankRef"
                                                                            maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="Id"
                                                                                      type="xs:string"
                                                                                      use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="Id"
                                                                          type="xs:string"
                                                                          use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Id"
                                                  type="xs:ID"
                                                  use="optional"/>
                                    <xs:attribute name="Address"
                                                  type="HexAddress"
                                                  use="required"/>
                                    <xs:attribute name="Size"
                                                  type="HexAddress"
                                                  use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id"
                                      type="xs:ID"
                                      use="optional"/>
                        <xs:attribute name="AddressWidth"
                                      type="xs:int"
                                      use="required"/>
                        <xs:attribute name="AddressBase"
                                      type="HexAddress"
                                      default="0x0000"
                                      use="optional"/>
                        <xs:attribute name="BusWidth"
                                      type="xs:int"
                                      default="8"
                                      use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ProgramMemory">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TextSegment">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Data"
                                                    maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="Id"
                                                              type="xs:ID"
                                                              use="required"/>
                                                <xs:attribute name="Reserved"
                                                              type="YesNoType"
                                                              default="no"
                                                              use="optional"/>
                                                <xs:attribute name="Start"
                                                              type="HexAddress"
                                                              use="required"/>
                                                <xs:attribute name="Length"
                                                              type="HexAddress"
                                                              use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Checksum"
                                                    maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="EPROMRef">
                                                        <xs:complexType>
                                                            <xs:attribute name="Id"
                                                                          type="xs:string"
                                                                          use="required"/>
                                                            <xs:attribute name="Start"
                                                                          type="HexAddress"
                                                                          use="required"/>
                                                            <xs:attribute name="End"
                                                                          type="HexAddress"
                                                                          use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element ref="StorageDefinition" />
                                                </xs:sequence>
                                                <xs:attribute name="Id"
                                                              type="xs:ID" />
                                                <xs:attribute name="Type"
                                                              type="ChecksumType"
                                                              default="Additive"
                                                              use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Features">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Feature"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:sequence>
                                            <xs:element ref="StorageDefinitionRef"
                                                        maxOccurs="unbounded" />
                                            <xs:element ref="StorageDefinition"
                                                        minOccurs="0"
                                                        maxOccurs="unbounded" />
                                        </xs:sequence>
                                        <xs:sequence>
                                            <xs:element ref="StorageDefinition"
                                                        maxOccurs="unbounded" />
                                        </xs:sequence>
                                    </xs:choice>
                                    <xs:attribute name="Id"
                                                  type="xs:string"
                                                  use="required"/>
                                    <xs:attribute name="Maximum"
                                                  type="MaximumType"
                                                  default="1"
                                                  use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FeatureGroups">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FeatureGroup"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:sequence>
                                            <xs:element ref="FeatureGroupRef"
                                                        maxOccurs="unbounded" />
                                            <xs:element ref="FeatureRef"
                                                        minOccurs="0"
                                                        maxOccurs="unbounded" />
                                        </xs:sequence>
                                        <xs:sequence>
                                            <xs:element ref="FeatureRef"
                                                        maxOccurs="unbounded" />
                                        </xs:sequence>
                                    </xs:choice>
                                    <xs:attribute name="Id"
                                                  type="xs:string"
                                                  use="required"/>
                                    <xs:attribute name="IsDefault"
                                                  type="xs:boolean"
                                                  use="optional">
                                        <!-- https://stackoverflow.com/a/22100835/3596482 -->
                                        <xs:annotation>
                                            <xs:documentation>
                                                Identifies the FeatureGroup as being the default set of features for all
                                                defined levels. Only one FeatureGroup can have this attribute set to true.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <!--<xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="yes"/>
                                            </xs:restriction>
                                        </xs:simpleType>-->
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="IsDefaultFeatureGroup">
                        <xs:selector xpath=".//gpns:FeatureGroup"/>
                        <xs:field xpath="@IsDefault"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="Levels">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Level"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:sequence>
                                            <xs:element ref="FeatureRef"
                                                        maxOccurs="unbounded" />
                                            <xs:element ref="FeatureGroupRef"
                                                        minOccurs="0"
                                                        maxOccurs="unbounded" />
                                        </xs:sequence>
                                        <xs:sequence>
                                            <xs:element ref="FeatureGroupRef"
                                                        maxOccurs="unbounded" />
                                        </xs:sequence>
                                    </xs:choice>
                                    <xs:attribute name="Name"
                                                  type="xs:string"
                                                  use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Maximum"
                                      type="MaximumType"
                                      default="-1"
                                      use="optional"/>
                        <xs:attribute name="Minimum"
                                      type="MinimumType"
                                      default="1"
                                      use="optional"/>
                    </xs:complexType>
                    <xs:unique name="LevelNameUnique">
                        <xs:selector xpath="gpns:Level" />
                        <xs:field xpath="@Name" />
                    </xs:unique>
            </xs:element>
            </xs:sequence>
            <xs:attribute name="Version"
                          type="VersionString"
                          use="required" />
        </xs:complexType>
        <xs:key name="BankKey">
            <xs:selector xpath=".//gpns:Bank"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:keyref name="BankKeyRef"
                   refer="BankKey">
            <xs:selector xpath=".//gpns:BankRef"/>
            <xs:field xpath="@Id"/>
        </xs:keyref>
        <xs:key name="EPROMKey">
            <xs:selector xpath=".//gpns:EPROM"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:keyref name="EPROMKeyRef"
                   refer="EPROMKey">
            <xs:selector xpath=".//gpns:EPROMRef"/>
            <xs:field xpath="@Id"/>
        </xs:keyref>
        <xs:key name="PageKey">
            <xs:selector xpath=".//gpns:Page"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:keyref name="PageKeyRef"
                   refer="PageKey">
            <xs:selector xpath=".//gpns:PageRef"/>
            <xs:field xpath="@Id"/>
        </xs:keyref>
        <!-- Storage definitions don't require Id -->
        <xs:unique name="StorageDefinitionKey">
            <xs:selector xpath=".//gpns:StorageDefinition"/>
            <xs:field xpath="@Id"/>
        </xs:unique>
        <xs:keyref name="StorageDefinitionKeyRef"
                   refer="StorageDefinitionKey">
            <xs:selector xpath=".//gpns:StorageDefinitionRef"/>
            <xs:field xpath="@Id"/>
        </xs:keyref>
        <xs:key name="FeatureKey">
            <xs:selector xpath=".//gpns:Feature"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:keyref name="FeatureKeyRef"
                   refer="FeatureKey">
            <xs:selector xpath=".//gpns:FeatureRef"/>
            <xs:field xpath="@Id"/>
        </xs:keyref>
        <xs:key name="FeatureGroupKey">
            <xs:selector xpath=".//gpns:FeatureGroup"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:keyref name="FeatureGroupKeyRef"
                   refer="FeatureGroupKey">
            <xs:selector xpath=".//gpns:FeatureGroupRef"/>
            <xs:field xpath="@Id"/>
        </xs:keyref>
    </xs:element>
    <xs:simpleType name="VersionString">
        <xs:annotation>
            <xs:documentation>
                Basic version string. Equivalent to xx.xxxxx.xxxxx.xxxxx with at least Major.Minor defined.
            </xs:documentation>
        </xs:annotation>
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="([0-9]?[0-9])(\.([0-9]?[0-9]?[0-9]?[0-9]?[0-9])){3}" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="([0-9]?[0-9])(\.([0-9]?[0-9]?[0-9]?[0-9]?[0-9])){2}" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="([0-9]?[0-9])(\.([0-9]?[0-9]?[0-9]?[0-9]?[0-9]))" />
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="YesNoType">
        <xs:annotation>
            <xs:documentation>This type is used for boolean-like attributes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ChecksumType">
        <xs:annotation>
            <xs:documentation>CRC types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="Crc32"/>
            <xs:enumeration value="Crc16"/>
            <xs:enumeration value="Additive"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaximumType">
        <xs:annotation>
            <xs:documentation>
                The maximum number of occurrences allowed. The value can be an integer greater
                than or equal to zero. To set no limit on the maximum number, use the value -1 (unbounded).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="-1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MinimumType">
        <xs:annotation>
            <xs:documentation>
                The minimum number of occurrences allowed. The value can be an integer greater
                than or equal to zero.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <!--  https://www.w3.org/2005/07/xml-schema-patterns.html#Enumerated  -->
    <xs:simpleType name="ArrayType">
        <xs:annotation>
            <xs:documentation>.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:annotation>
                <xs:documentation>boolean is stored as a byte. </xs:documentation>
            </xs:annotation>
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="byte"/>
            <xs:enumeration value="short"/>
            <xs:enumeration value="int"/>
            <xs:enumeration value="string"/>
            <xs:enumeration value="object"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ArrayStorage">
        <xs:annotation>
            <xs:documentation>.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="value"/>
            <xs:enumeration value="pointer"/>
        </xs:restriction>
    </xs:simpleType>
    <!--https://stackoverflow.com/a/36830971-->
    <xs:simpleType name="HexAddress">
        <xs:union memberTypes="xs:unsignedInt">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:pattern value="0x[0-9A-Fa-f]{8}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:pattern value="0x[0-9A-Fa-f]{4}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:pattern value="0x[0-9A-Fa-f]{2}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
</xs:schema>